* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

.icone-airplane {
    color: bisque;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height: 0px 15px;
    
}

.header {
    width: 100%;
    height: 50px;
    background-color: #db4a39;
    padding: 0px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;

}

.header__menu ul {
    display: flex;
}

.header__menu__itens {
    font-size: 1rem;
    margin: 15px 5px 15px;
    border-radius: 5px;
    color: bisque;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;

}

.header__menu__itens:hover {
    
    color: white;
}


.busca__reserva {
   
    align-items: center;
    display: flex;
    margin: 10px;
    
}

.busca {
    background-color:white;
    border:solid 1px #db4a39;
    border-radius:50px;  
    width:15%;
    height:60px;
    padding: 15px ;
    
  }

  #textodabusca {
    float:left;
    background-color:transparent;
    border: none;
    border-radius: 50px;
    height: 100%;
    font-size:18px;   
    width: 100%;
    text-align: center;

  }

  
 .data__reserva {
     
     margin: 25px;
 }
 main {
    
     width: 100%;
     height: 84vh;
 }



 .box {
   
    border-radius: 15px 15px 0px 0px;
    width: 28%;
    height: 40vh;
    margin: 10px auto;
       
    text-align: center;
    
 }

 .parque_img{
    width: 100%;
    height: 250px;
    border-radius: 15px 15px 0px 0px;
}



.rodape {
    background-color: #db4a39;
    height: 50px;
    text-align: center;
    color: bisque;
    padding: 15px;
    
}

@media(max-width:750px) {
    .header {
        background-color: #db4a39;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 0;
    }

    .linha {
        width: 30px;
        height: 3px;
        background-color: bisque;
        margin: 5px;
    }

    .header__menu {
        position: relative;
    }

    .hamburger {
        position: absolute;
        right: 0;
        top: -15px;
        cursor: pointer;
    }

    .hamburger:hover {
        background-color: white;
        color: black;
        border-radius: 150px;
    }


    .links__menu {
        width: 250px;
        height: 54%;
        padding-right: 1px;
        background-color: rgba(245, 216, 129, 0.425);
        position: fixed;
        right: -100vw;
        top: 6vh;
        z-index: 2;
        transition: 1s;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 2px 155px;   

    }

    .header__menu__itens {
        padding: 8% 100px 20px 19px;
        border-radius: 50px;
        width: 100%;
        background-color: #333;
        color: #ccc;
        text-transform: uppercase;
        font-weight: 900;
    }

    .links__menu.open {
        right: 0px;
    }

    .busca {
        
        background-color:white;
        border:solid 1px #db4a39;
        border-radius:50px;  
        width:100%;
        height:60px;
        padding: 0px ;
        margin-top: 50px;
      }

    .data__reserva {
        margin: 25px;
        display: flex;
        flex-direction: column;
    }
    .busca__reserva{

        flex-direction: column;
    }

    @media(max-width: 600px) {
        .box {
            width: 100%;
            font-size: 1em;
           /* topo | direita | inferior | esquerda */
            margin: 52px 1em 0 auto; 
        }
    }

   

    .rodape{
        display: none;
    }
}